<%= link_to 'New Game', new_game_path %>

<h1>Latest games</h1>

<table>
  <tr>
    <th>Winner</th>
    <th>Loser</th>
    <th>Score</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.winner.email %></td>
    <td><%= game.loser.email %></td>
    <td><%= game.score %></td>
    <td><%= game.description %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
