<%= link_to 'New Game', new_game_path %>

<h1>Latest games</h1>

<table>
  <tr>
    <th>Winner</th>
    <th>Loser</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr <%= cycle("style='background-color:#DCE9F2;';", "style='background-color:white;';") -%>'>
    <td><%= game.winner.email %> <% if game.double? %> and <%= game.winner_double.email %><% end%></td>
    <td><%= game.loser.email %> <% if game.double? %> and <%= game.loser_double.email %><% end%></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
  </tr>
<% end %>
</table>

<br />
