<p id="notice"><%= notice %></p>

<p>
  <b>Winner:</b>
  <%= @game.winner.email %>
</p>

<p>
  <b>Loser:</b>
  <%= @game.loser.email %>
</p>

<% if @game.score.present? %>
<p>
  <b>Score:</b>
  <%= @game.score %>
</p>
<% end %>

<% if @game.description.present? %>
<p>
  <b>Description:</b>
  <%= @game.description %>
</p>
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Games listing', games_path %>
